# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Databases
instance/
*.db
*.sqlite3

# Test caches
.pytest_cache/
.coverage
htmlcov/

# Editor files
.vscode/
.idea/
.DS_Store
